<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/ScoreKeeper.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.okun.ScoreKeeper</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>Apple Development: David Okun (ATL9M5R398)</string>
		<key>Team</key>
		<string>RQ632LL2X3</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2020-09-30T01:51:56Z</date>
	<key>Name</key>
	<string>ScoreKeeper</string>
	<key>SchemeName</key>
	<string>ScoreKeeper</string>
</dict>
</plist>
