name: Actions 101

on:
  push

jobs:
  hello_world:
    name: Hello World!
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@master
    
    - name: Run Script
      run: echo Hello, try Swift!


  lint:
    name: Swiftlint
    runs-on: macos-latest
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    steps:
    - uses: act10ns/slack@v1
      with:
        status: starting
      if: always()
      
    - uses: actions/checkout@master
    
    - name: Install Swiftlint
      id: swiftlint
      run: |
        brew install swiftlint
        swiftlint autocorrect
      
    - uses: act10ns/slack@v1
      with:
        status: ${{ job.status }}
        steps: ${{ toJson(steps) }}
      if: always()
          
  # this is the step to build my app
  build:
    name: Build My App
    runs-on: macos-latest
    needs: lint
    steps:
    - uses: actions/checkout@master
    
    - name: Choose Xcode 12
      run: sudo xcode-select --switch /Applications/Xcode_12.app
      
    - name: Build App
      run: xcodebuild -scheme "ScoreKeeper" -target ScoreKeeper -sdk iphonesimulator clean build

  tests:
    name: Run Tests
    runs-on: macos-latest
    needs: build
    steps:
    - uses: actions/checkout@master
    
    - name: Choose Xcode 12
      run: sudo xcode-select --switch /Applications/Xcode_12.app
      
    - name: Run Tests
      run: xcodebuild -scheme "ScoreKeeper" -destination 'platform=iOS Simulator,name=iPhone 11 Pro Max,OS=14.0' test
